@keyframes preloader-inside-white {
    0% {
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    100% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@keyframes preloader-inside-red {
    0% {
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    30% {
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    100% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background: rgba(0, 0, 0, .6);
    z-index: 100; 
}

.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.preloader__container {
    width: 150px;
    height: 150px;
    position: relative;
}

.preloader__round {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border-radius: 75px;
}

.preloader__round::after,
.preloader__round::before {
    content: '';
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 75px;
}

.preloader__round::after {
    background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
    animation: preloader-inside-white 1s ease-in-out infinite;
}

.preloader__round::before {
    z-index: 10;
    background: #131316;
    opacity: 0.5;
    animation: preloader-inside-red 1s ease-in-out infinite;
}

.title{
    font-family: 'Iceland';
    font-size: 76px;
    line-height: 86px;
    text-shadow: 0 0 16px rgb(51 51 255 / 25%), 0 0 8px rgb(51 51 255 / 25%), 0 4px 32px rgb(51 51 255 / 50%);
    margin: 0;
    margin-top: 50px;
    text-align: center;
}

.text {
    font-family: 'Iceland';
    font-size: 76px;
    line-height: 86px;
    text-shadow: 0 0 16px rgb(51 51 255 / 25%), 0 0 8px rgb(51 51 255 / 25%), 0 4px 32px rgb(51 51 255 / 50%);
    margin: 0;
    margin-top: 30px;
    text-align: center; 
}
