.container{
display: flex;
flex-direction: column;
justify-content: center;
max-width: 600px;
width: 100%;
box-sizing: border-box;
}

.title{
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    text-align: left;
    margin: 40px auto 20px;
    width: 100%;
}

.tab{
    display: flex;
}

.scrollbox {
    max-height: calc(100vh - 250px);
    min-height: 465px;
    overflow-y: scroll;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #8585AD #2F2F37;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #2F2F37;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}