.page {
    max-width: 100vw;
    margin: 0 auto;
    font-family:  "JetBrainsMono", "Arial ", sans-serif;
    color: #F2F2F3;
    background-color: #131316;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    display: flex;
    flex-direction: column;
    align-items: center;
}