.box{
    max-width: 720px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1C1C21;
    border-radius: 40px;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}


.close_icon{
    position: absolute;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    top: 60px;
    right: 40px;
    box-sizing: content-box;
}

.close_icon > svg{
    pointer-events: none;
}

.title{
    font-family:  "JetBrainsMono", "Arial ", sans-serif; 
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    margin: 40px auto auto 40px;
    text-align: left;
}