.box{
    position: relative;
    max-width: 720px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1C1C21;
    border-radius: 40px;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-sizing: border-box;
}


.close_icon{
    position: absolute;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    top: 60px;
    right: 40px;
    box-sizing: content-box;
}

.close_icon > svg{
    pointer-events: none;
}