.popup{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);;
    top: 0;
    left: 0;
    right: 0;
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
}