.main {
    background: #1C1C21;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    box-sizing: border-box;
    color: #F2F2F3;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 24px;
    margin-bottom: 16px;
}

.box{
    display: flex;
    justify-content: space-between;
}

.number{
    font-family: 'Iceland';
	font-weight: 400;
	font-size: 28px;
	line-height: 24px;
    color: #F2F2F3;
    margin: 0;
}

.date{
    font-weight: 400;
	font-size: 16px;
	line-height: 24px;
    color: #8585AD;
    margin: 0;
}

.title{
    font-weight: 700;
	font-size: 24px;
	line-height: 30px;
    color: #F2F2F3;
}

.box_ingredient {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box_prise{
    display: flex;
    align-items: center;
}

.price{
    font-family: 'Iceland';
	font-weight: 400;
	font-size: 28px;
	line-height: 24px;
    color: #F2F2F3;
    margin: 0 8px 0 0;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.cell{
    position: relative;
    background: #131316;
    border-radius: 50%;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    border: 2px solid #4C4CFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:not(:last-child) {
    margin-left: -10px;
}

.image{
    width: 100%;
    object-fit: cover;
}

.quantity{
    font-weight: 400;
	font-size: 16px;
	line-height: 24px;
    color: #F2F2F3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    overflow: hidden;
}